!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title= content_for?(:title) ? yield(:title) : "rigli"
    %meta(name="description" content="")
    %meta(name="author" content="")
    = csrf_meta_tags
    = yield(:head)
    = stylesheet_link_tag "application", :media => "all"

    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }


    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    %link(rel="shortcut icon" href="images/favicon.ico")
    %link(rel="apple-touch-icon" href="images/apple-touch-icon.png")
    %link(rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png")
    %link(rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png")

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Rig<li>", :root, class: "brand"
          %ul.nav
            %li
              = link_to "Popular Rigs"
            %li
              = link_to "Popular Links"
          %ul.nav.pull-right
            - if user_signed_in?
              %ul.nav.nav-pills
                %li#menu1.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#menu1"}
                    My Account
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to "My Rigs"
                    %li
                      = link_to "Log Out", destroy_user_session_path, :method => :delete
            - else
              %li.nav-item.main-link
                = link_to "Log In", new_user_session_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg.html_safe, :class =>"#{name}", :id => "flash_#{name}"

    .content-page.container
      .row
        .span11
          = yield

    .container
      %footer{role: "contentinfo"}
        %p
          Rig.li Copyright &copy; 2012. All Rights Reserved.

    = javascript_include_tag "application", "core"
    = yield :body_end



