%p Welcome to Rig.li!
%p This is the landing page

= simple_form_for @rig, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  = f.input :description
  .links
    = render :partial => 'link', :collection => @rig.links, :locals => { :f => f }
  = f.button :submit
