%p Welcome to Rig.li!
%p This is the landing page

= simple_form_for @rig, :html => {:class => 'form-horizontal'} do |f|
  = f.input :name
  = f.input :description
  = f.simple_fields_for :links do |links_form|
    = links_form.input :target
  = f.button :submit
