%p Your Rig is ready!

= @rig.name
= link_to HOST[7..-1]+@rig.short.surl, HOST+@rig.short.surl
%p
= @rig.description
%P

- @rig.links.each do |link|
  = link_to HOST[7..-1]+link.short.surl, HOST+link.short.surl
  = link.target
